@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2922 0.0156 264.3);
  --active: oklch(0.5332 0.2596 262.64);
  --primary-foreground: oklch(1 0 0);
  --color-punainen: oklch(0.6275 0.2044 29.234);

  /* Accent gradient */
  --color-start: oklch(0.5332 0.2596 262.64);
  --color-end: oklch(0.623 0.2799 310.69);

  /* Gradients */
  --gradient-primary: linear-gradient(
    135deg,
    oklch(0.5332 0.2596 262.64) 0%,
    oklch(0.2922 0.0156 264.3) 100%
  );

  /* --color-custom-dark: oklch(0.1996 0.0086 264.36); */
}

.dark {
  --background: oklch(21.231% 0.01236 129.201);
  --foreground: oklch(0.9679 0.0027 264.54);
  --active: oklch(0.6048 0.2142 262.15);

  /* Accent colors for dark */
  --accent-start: oklch(0.6048 0.2142 262.15);
  --accent-end: oklch(0.7051 0.2246 310.69);

  /* Update gradients for dark */
  --gradient-primary: linear-gradient(
    135deg,
    oklch(0.1996 0.0086 264.36) 0%,
    oklch(0.9679 0.0027 264.54) 100%
  );
}

body {
  scroll-behavior: smooth;
}

/* TODO KORJAA SE VITUN DARK MODE DONE B)*/

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
